<mat-accordion multi="true" *ngIf="entries.length > 0">
  <mat-expansion-panel *ngFor="let entry of entries">
    <mat-expansion-panel-header>{{ entry.date }}</mat-expansion-panel-header>
    {{ entry.text }}
    <mat-action-row>
      <a [routerLink]="['/edit', entry.id]" mat-raised-button color="accent">Edit</a>
      <button mat-raised-button color="warn" (click)="onDelete(entry.id)">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="mat-body no-entries" *ngIf="entries.length <= 0">No journal entries added</p>
