<div class="row">
  <div class="col-md-12 rounded-border">
    <div class="row shaded">
      <div class="col-xs-6">
        <h3>Contacts</h3>
      </div>
      <div class="col-xs-6 middle text-right">
        <button class="btn btn-success">New Contact</button>
      </div>
    </div>
    
    <div class="row mr-5 padding">
      <div class="col-xs-12">
        <cms-contact-item 
          *ngFor="let contactElement of contacts"
          [contact]="contactElement"
          (click)="onSelected(contactElement)"
          ></cms-contact-item>
      </div>
    </div>
  </div>
</div>


